<div class="grid-container">
  <div class="main">
    <h1 class="main-title">Welcome</h1>
    <p>
      Gone walkabout sook outback jumbuck beauty. It'll be crook strides ute yabber paddock beauty. Flick cobber brisvegas ambo chuck a sickie battler dag rock up. Dero as stands out like stands out like a ridgy-didge cranky vb trent from punchy give it a burl durry. Lizard drinking trackies bities sunnies show pony also op shop pav. Chook slabs booze bus slab plonk g'day stonkered joey.
    </p>
  </div>

  <div class="image-link" id="simulation">
    <a href=simulation><img src="http://fillmurray.com/500/300" alt="">
    </a>
  </div>
  <div class="image-link" id="graphs">
    <a href=graphs>
    <img src="http://fillmurray.com/500/300" alt="">
    </a>
  </div>
</div>
