<div class="grid-container">
  <div class="main">
    <h1 class="main-title">Genetic Algorithm Analisis Tool</h1>
    <p>
      The purpose of this app is to provide a way to store and view generational information for genetic algorithms to enable easy analysis. <br><strong>But what is a Genetic Algorithm?</strong><br>
    A genetic algorithm is a method used in machine learning to find a solution to a given problem. It models the principles of nature like natural selection, or selective breeding, to converge on a solution to the given problem. In the example here the task is to balance a pole by controlling the cart it's on.</p>
    <p>Having played around with Genetic Algorithms and Neural Networks before and had trouble debugging why it doesn't work properly, I wanted something similar to this to see visually what was happening.
    I've also wanted a way to create or modify networks manually to either seed a system with a particular solution or just play around a little.
    </p>
    <p>Click the images below to head to either the simulation page or the graphing page. (I'd suggest starting with the simulation)</p>
  </div>

  <div class="image-link" id="simulation">
    <a href=simulation>
      <%= image_tag "poleBalance.gif" %>
    </a>
  </div>
  <div class="image-link" id="graphs">
    <a href=graphs>
      <%= image_tag "graphs.png" %>
    </a>
  </div>
</div>
