<div class="grid-container">
  <div class="main">
    <h1 class="main-title">Genetic Algorithm Analisis Tool</h1>
    <p>
      The purpose of this app is to provide a way to store and view generational information for genetic algorithms to enable easy analysis.
      
    </p>
  </div>

  <div class="image-link" id="simulation">
    <a href=simulation>
      <%= image_tag "poleBalance.gif" %>
    </a>
  </div>
  <div class="image-link" id="graphs">
    <a href=graphs>
      <%= image_tag "graphs" %>
    </a>
  </div>
</div>
