/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  margin: 0;
  background-color: #eeeeee;
}

.main-title{
  color: grey;
}

.grid-container{
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  /* margin: 10px; */
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.main{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  padding: 0px, 20px;
  grid-column: 1/ span 2;
  grid-row: 1;
  height: 100%;
  /* max-height: 300px; */
}

.main-title{
  margin-top: 0;
}

p{
  width: 80%;
  text-align: center;
}

a{
  padding: 0;
  margin: 0;
  border: 0;
  width: 90%;
}

img{
  height: 285px;
  border: 1px solid #dddddd ;
}

.image-link{
  /* position: absolute; */
  display: flex;
  width: 100%;
  height: 100%;
  grid-row: 2;
  justify-content: center;
  align-items: flex-start;
}

#simulation-grid{
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 100px;
}

#description{
  grid-column: 1/ span 3;
  grid-row: 1;
  width: 95%;
  margin: 0 auto;
}
#description p{
  width: 100%;
  text-align: left;
}

#simulation-container{
  position: absolute;
  width: 100%;
  height: 100%;
  grid-column: 1/ span 3;
  grid-row: 2/ span 1;
}

.sim-controls{
  padding: 0;
  margin: 0;
  border: 1% solid black;
  width: 100%;
  height: 33.33%;
}

#p5-controls{
  grid-column: 1;
  grid-row: 3;
}

#gen-alg-controls{
  grid-column: 2;
  grid-row: 3;
}

#navigation{
  grid-column: 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#chart-grid{
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 200px 350px 350px;
}

#header{
  grid-column: 1/ span 4;
  grid-row: 1;
  text-align: center;
  align-content: center;
}
p#description{
  min-width: 1100px;
  text-align: center;
  margin: 0 auto;
}

#upper-chart-aligner{
  width: 100%;
  height: 100%;
  grid-column: 2/ span 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
}

#line-chart-container{
  position: absolute;
  height: 350px;
  width: 700px;
}

#bar-chart-container{
  height: 100%;
  width: 100%;
  grid-column: 1/ span 2;
  grid-row: 3;
}

#node-chart-container{
  grid-column: 3/ span 2;
  grid-row: 3;
  width: 100%;
  height: 100%;
}
